@import (reference) '../../bower_components/bootstrap/less/variables';

@fa-font-path: '../fonts/font-awesome';

@body-bg-start: #58E5D8;
@body-bg-end: #3E4169;

@body-bg: @body-bg-start;
@text-color: white;

@btn-pink-color: @text-color;
@btn-pink-bg: #E7305F;
@btn-pink-border: @btn-pink-bg;

@border-radius-large: 0;
@border-radius-base: 0;
@border-radius-small: 0;
@border-radius-button: 3px;

@input-border: transparent;

@page-header-border-color: transparent;